* {
  box-sizing: border-box;
}
.navbar{
  height: 80px;
  background: #ffffff;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;

  font-size: 24px;
  color: #003b8f;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-btn:hover {
  color: #0073f0;
}

.nav-logo h1 {
  font-size: 46px;
  margin: 0;
  color: #0057d9;
}

.signin-btn {
  background: #ff8a00;
  color: white;

  border: none;
  border-radius: 30px;

  padding: 12px 30px;

  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}
.signin-btn:hover {
  background: #e07f0c;
}
@media (max-width: 1399px) {
    .nav-logo img{
      width: 80%;
    } 
    .navbar{
        height: unset;
    }
}